*,
*:before,
*::after {
	box-sizing: border-box;
}


html {
	font-size: 100%;
}

body {
	font-size: 1rem;
	font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	// background-image: url('../images/cregg.org.png');
	background-position: center bottom;
	background-color: #F5F8FA;
}

// Button reset
button {
	cursor: pointer;
	font: inherit;
}



// Colors

:root {
	--color-active-background: #5DBDCB;
	--color-active-text: white;

	--color-dark: #4580BE;
	--color-shadow: #bababa;

	--color-item-background: #f0f1f4;
	--color-item-text: #5b657a;
}



// Thème sombre

body[data-theme=dark] {
	background-color: #2C3D58;

	--color-active-background: #bc2f25;
	--color-active-text: white;

	--color-dark: #202c42;
	--color-shadow: rgba(0,0,0,.4);

	--color-item-background: #5e6a79;
	--color-item-text: #f0f1f4;
}



// Round Button

.disc-button {
	border-radius: 50%;
	border:none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	margin: 0;
	background-color: var(--color-dark);
	color: white;

	.icon {
		width: 40px;
		height: 40px;
	}

	&:focus {
		outline: none
	}

	// &:focus,
	&:hover {
		box-shadow: 0 2px 20px var(--color-shadow);
		background-color: var(--color-active-background);
		color: var(--color-active-text);
		outline: none;
	}

	&, svg {
		transition: transform cubic-bezier(0, 1, 0, 1) .2s;
		will-change: transform;
	}

	&:active {
		box-shadow: none;
		transform: scale(.92);
	}
}


// Tag button

.tag-button {
	align-items: center;
	background-color: var(--color-item-background);
	border-radius: 5rem;
	border: none;
	color: var(--color-item-text);
	display: inline-flex;
	font-weight: 500;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0.36em 0;
	max-width: 100%;
	padding: 0 .6em;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	transition: transform cubic-bezier(0.23, 1, 0.32, 1) .2s;

	&:focus,
	&:hover {
		background-color: var(--color-active-background);
		color: var(--color-active-text);
		outline: none;
	}

	&:active {
		transform: scale(.94);
	}

	.icon {
		width: 1em;
		margin: 0 .25em 0 0;
	}
}



// Back to top button

.back2top {
	@extend .disc-button;
	position: absolute;
	bottom: 4rem;
	right: 0;
}



// Settings Menu Wrapper

#site-settings-navigation {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	padding-bottom: 3.5rem;
}



// Initial button state (menu collapsed)
[data-toggle-button][aria-expanded="false"] ~ .menu,
[data-toggle-button][aria-expanded=""] ~ .menu {
	display: none;
}



// MENU TOGGLE

button[data-toggle-button] {
	@extend .disc-button;
	position: absolute;
	bottom: 0;
	right: 0;

	.caption {
		display: none;
	}

	.icon[data-icon-collapsed] {display: initial;}
	.icon[data-icon-expanded] {display: none;}

	&[aria-expanded="true"] {
		.icon[data-icon-collapsed] {display: none;}
		.icon[data-icon-expanded] {display: initial;}
	}

	&[aria-expanded="true"] {
		border: 2px solid currentColor;
		background-color: white;
		color: var(--color-dark);
	}
}



// MENU

.menu {
	align-items: flex-end;
	bottom: .5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 4rem;
	text-align: right;

	li {
		@extend .slide-in-bottom;
	}

	li a,
	li button {
		@extend .tag-button;
	}
}




/* ANIMATIONS */

.slide-in-bottom {
	animation: slide-in-bottom 0.5s cubic-bezier(0, 1, 0, 1) both;
}

.slit-in-horizontal {
	animation: slit-in-horizontal 0.45s ease-out both;
}

.bounce-top {
	animation: bounce-top 0.9s both;
}


.roll-in-blurred-right {
	animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}



/* ----------------------------------------------
* Generated by Animista on 2018-10-7 22:14:0
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation roll-in-blurred-right
* ----------------------------------------
*/
@keyframes roll-in-blurred-right {
	0% {
		transform: translateX(1000px) rotate(720deg);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		filter: blur(0);
		opacity: 1;
	}
}



/* ----------------------------------------------
* Generated by Animista on 2018-10-7 22:6:55
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-in-bottom
* ----------------------------------------
*/
@keyframes slide-in-bottom {
	0% {
		transform: translateY(50vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-out-bottom {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(50vh);
		opacity: 0;
	}
}




/* ----------------------------------------------
* Generated by Animista on 2018-10-7 21:35:21
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slit-in-horizontal
* ----------------------------------------
*/
@keyframes slit-in-horizontal {
	0% {
		transform: translateZ(-800px) rotateX(90deg);
		opacity: 0;
	}
	54% {
		transform: translateZ(-160px) rotateX(87deg);
		opacity: 1;
	}
	100% {
		transform: translateZ(0) rotateX(0);
	}
}


/* ----------------------------------------------
* Generated by Animista on 2018-10-7 16:54:26
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation bounce-top
* ----------------------------------------
*/

@keyframes bounce-top {
	0% {
		transform: translateY(-45px);
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translateY(-24px);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(-12px);
		animation-timing-function: ease-in;
	}
	82% {
		transform: translateY(-6px);
		animation-timing-function: ease-in;
	}
	93% {
		transform: translateY(-4px);
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
		opacity: 1;
	}
}
